@model Activity7.Models.CustomerModel

<h4>@Html.Label("Customer Details:")</h4>
<b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)
<br />
<b>@Html.DisplayNameFor(model => model.Age):</b> @Html.DisplayFor(model => model.Age)
<br/>
<br/>
<hr/>

